header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

nav a {
    margin: 0 15px;
}

.conference-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
}

.conference-item {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: calc(33.33% - 20px);
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #ccc;
}

.conference-item-photo {
    height: 40%;
    width: 100%;
    background: grey no-repeat center center;
    background-size: cover;
}

.conference-item-details {
    padding: 10px;
}